black==23.7.0
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.6
dnspython==2.4.2
idna==3.4
kafka-python==2.0.2
mypy-extensions==1.0.0
numpy==1.24.4
packaging==23.1
pandas==2.0.3
pathspec==0.11.2
platformdirs==3.10.0
praw==7.7.1
prawcore==2.3.0
pykerberos==1.2.4
pymongo==4.5.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-snappy==0.6.1
pytz==2023.3
requests==2.31.0
six==1.16.0
tomli==2.0.1
tzdata==2023.3
update-checker==0.18.0
urllib3==2.0.4
vaderSentiment==3.3.2
websocket-client==1.6.2
